body {
    background-color: rgb(53, 53, 53);
    color: white;
}
.rgb-background {
    animation-name: rgb-background;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes rgb-background {
    08.30% { background: rgb(255, 0, 0); }
    16.60% { background: rgb(128, 0, 0); }
    24.90% { background: rgb(255, 255, 0); }
    33.32% { background: rgb(0, 255, 0); }
    41.65% { background: rgb(0, 128, 0); }
    49.98% { background: rgb(0, 255, 255); }
    58.31% { background: rgb(0, 128, 128); }
    66.64% { background: rgb(0, 0, 255); }
    74.97% { background: rgb(0, 0, 128); }
    83.30% { background: rgb(255, 0, 255); }
    91.63% { background: rgb(128, 0, 128); }
    100.0% { background: rgb(255, 0, 0); }
}
button {
    color: white;
    background: transparent;
    border: 0;
    padding: 10px;
}