@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: rgb(65, 65, 65);
    color: white;
    font-family: "Poppins", sans-serif;
}
code {
    font-size: larger;
}
.ipt {
    position: relative;
    background: rgb(65, 65, 65);
    border: none;
    border-radius: 10px;
    border-block-end: 1px solid white;
    top: -26.6px;
    color: white;
}
.ipt:focus {
    outline: none;
}
.ipt::placeholder {
    color: white;
    font-size: larger;
}
button {
    background: rgb(65, 65, 65);
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
}
div {
    white-space: pre-line;
}
span.green {
    color: rgb(0, 255, 42);
}